<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
    
    <!-- EXTERNAL BOOTSTRAP CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- EXTERNAL PERSONAL CSS -->
    <link rel="stylesheet" href="./assets/css/style.css">
    
    <title>Boolzapp</title>
  </head>
  
  <body>
    
    <div id="app">

      <!-- CONTAINER FLUID ADDED TO HAVE A FULL-WIDTH AND FULL-HEIGHT ELEMENT TO CLICK ON TO MAKE DROPDOWNS DISAPPEAR -->
      <div class="container-fluid p-0" @click="messageToRemove = -1, menuOpened = false, newContactWindow = false">
      
        <div class="my_container">

              <!-- displayed by default on screens narrower than 768px -->
              <div id="left_section" :class="activeContact >= -1 ? 'hidden' : ''">
                
                <div id="header_left" class="left_top_section d-flex justify-content-between align-items-center px-3">
                  <div id="user_infos" class="d-flex align-items-center">
                    <img width="60" class="rounded-circle me-3" src="./assets/img/avatar_io.jpg" alt="User profile image">
                    <div>
                      <h5 class="m-0">Mattia</h5>
                    </div>
                  </div>
                  <ul id="user_icons" class="d-flex align-items-center list-unstyled m-0 icon_color">
                    <li>
                      <i class="fa-solid fa-circle-notch fa-lg"></i>
                    </li>
                    <li class="mx-3">
                      <i @click.stop="newContactWindow = !newContactWindow, newContactName = '', newContactImage = ''" class="fa-solid fa-user-plus fa-lg"></i>
                    </li>
                    <li @click.stop="toggleTheme()">
                      <i class="fa-solid fa-moon fa-lg" v-if="darkMode === false"></i>
                      <i class="fa-solid fa-sun fa-lg" v-else></i>
                    </li>
                    <li class="ms-3">
                      <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                    </li>
                  </ul>
                </div>
                <!-- /#header_left.left_top_section -->

                <div id="activate_notification" class="d-flex align-items-center px-3">

                  <div class="notification_icon_container me-3">
                    <i class="fa-solid fa-bell-slash"></i>
                  </div>
                  <!-- /.notification_icon_container -->
                  
                  <div class="activate_notification_text">
                    <h6 class="m-0">Receive new messages notification</h6>
                    <span class="text-decoration-underline icon_color">Activate desktop notifications</span>
                  </div>
                  <!-- /.activate_notification_text -->
                
                </div>
                <!-- /#activate_notification -->

                <div id="search_contact" class="d-flex align-items-center px-3">

                  <div class="d-flex w-100">
                    <label class="d-flex justify-content-center align-items-center px-4 icon_color" for="search_contact_input">
                      <i class="fa-solid fa-magnifying-glass fa-fw"></i>
                    </label>
                    <input class="text_dark flex-grow-1" type="text" id="search_contact_input" placeholder="Search for a contact" v-model="searchQuery">
                  </div>
                  <!-- /.d-flex -->

                </div>
                <!-- /#search_contact -->

                <div id="favourite_messages" class="d-flex align-items-center px-3" @click="activeContact = -1">

                  <div class="favourite_messages_icon_container me-3">
                    <i class="fa-solid fa-star fa-2x"></i>
                  </div>
                  <!-- /.favourite_messages_icon_container -->
                  
                  <h6 class="m-0">Favourite messages</h6>
                
                </div>
                <!-- /#favourite_messages -->

                <ul id="contacts_list" class="m-0 p-0 list-unstyled">

                  <li v-for="(contact, index) in orderedContacts" class="contact justify-content-between align-items-center px-3" :class="searchContacts(contact) || hasMessages(contact) ? 'd-flex' : 'd-none', activeContact === index ? 'active' : ''" @click="activeContact = index, searchQuery = '', newMessage = ''">
                      <div class="left_contact_section d-flex align-items-start">
                        <img v-if="contact.avatar != undefined && contact.avatar.trim() != ''" width="60" class="rounded-circle me-3" :src="contact.avatar.includes('http') ? contact.avatar :`./assets/${contact.avatar.slice(2, contact.avatar.length - 4)}.jpg`" :alt="`${contact.name} image`">
                        <div v-else class="no_avatar me-3">{{findInitials(contact)}}</div>
                        <div>
                          <h6 class="m-0">{{contact.name}}</h6>
                          <span v-if="contact.messages.length > 0" class="icon_color">{{contact.messages[contact.messages.length - 1].message}}</span>
                        </div>
                      </div>
                      <div class="right_contact_section d-flex align-items-start">
                        <span v-if="contact.messages.length > 0" class="last_message_time icon_color">{{contact.messages[contact.messages.length - 1].date.slice(11, 16)}}</span>
                      </div>
                  </li>
                  <!-- /.contact -->
                  
                </ul>
                <!-- /#contacts_list -->

              </div>
              <!-- /#left_section -->

              <div id="right_section" :class="activeContact < -1 ? 'hidden' : ''">

                <div id="header_right" class="right_top_section d-flex justify-content-between align-items-center px-3">
                  <div v-if="activeContact >= 0" class="d-flex align-items-center">
                    <img v-if="orderedContacts[activeContact].avatar != undefined && orderedContacts[activeContact].avatar.trim() != ''" width="60" class="rounded-circle me-3" :src="orderedContacts[activeContact].avatar.includes('http') ? orderedContacts[activeContact].avatar :`./assets/${orderedContacts[activeContact].avatar.slice(2, orderedContacts[activeContact].avatar.length - 4)}.jpg`" :alt="`${orderedContacts[activeContact].name} image`">
                    <div v-else class="no_avatar me-3">{{findInitials(orderedContacts[activeContact])}}</div>
                    <div>
                      <h5 class="m-0">{{orderedContacts[activeContact].name}}</h5>
                      <span v-if="orderedContacts[activeContact].messages.length > 0" class="m-0 icon_color">{{`${lastSeen} ${provideLastMessageDate()} ${appendAt()} ${provideLastMessageTime()}`}}</span>
                      <span v-else class="m-0 icon_color">Last seen today at {{getCurrentTime()}}</span>
                    </div>
                  </div>
                  <div v-else-if="activeContact == -1" class="favourite_messages_header d-flex align-items-center justify-content-between px-3 flex-grow-1" @click="activeContact = -1">
                    <div class="left_favourite_messages d-flex align-items-center">
                      <i class="fa-solid fa-star fa-2x me-3"></i>
                      <h5 class="m-0">Favourite messages</h5>
                    </div>
                    <i class="fa-solid fa-xmark fa-lg ms-3" @click.stop="activeContact = -2"></i>
                  </div>

                  <ul v-if="activeContact >= 0 || (favouritesMessages.length > 0 && activeContact == -1)" class="d-flex align-items-center list-unstyled m-0 icon_color">
                    <li>
                      <i class="fa-solid fa-magnifying-glass fa-lg" :class="activeContact >= 0 ? 'hidden' : ''"></i>
                    </li>
                    <li class="mx-3">
                      <i class="fa-solid fa-paperclip fa-lg" :class="activeContact >= 0 ? 'hidden' : ''"></i>
                    </li>
                    <li class="position-relative">
                      <i class="fa-solid fa-ellipsis-vertical fa-lg" @click.stop="menuOpened = !menuOpened, messageToRemove = -1"></i>
                      <div class="dropdown icon_color" :class="{'d-none': menuOpened == false}, {'d-flex flex-column align-items-end': menuOpened == true}">
                        <span @click.stop="deleteAllMessages(activeContact)">
                          <i class="fa-regular fa-trash-can fa-lg icon_color"></i>
                          Delete all messages
                        </span>
                      </div>
                    </li>
                    <li class="ms-3" @click="activeContact = -2, newMessage = ''">
                      <i class="fa-solid fa-xmark fa-lg"></i>
                    </li>
                  </ul>
                </div>
                <!-- /#header_right.right_top_section -->

                <main id="right_main_content" class="px-5 py-3 d-flex flex-column flex-shrink-0">

                  <div v-if="activeContact >= 0" class="message" v-for="(message, index) in orderedContacts[activeContact].messages">
                    <div class="d-flex justify-content-between" :class="message.status === 'sent' ? 'sent_message' : 'received_message'">
                      <span class="text">{{message.message}}</span>
                      <div class="right_message_section d-flex flex-column justify-content-between align-self-stretch">
                        <span class="text-end">
                          <i class="fa-solid fa-chevron-down fa-fw text-end" @click.stop="checkIfRemovedFromSavedMessages(message), messageToRemove == index ? messageToRemove = -1 : messageToRemove = index, menuOpened = false"></i>
                        </span>
                        <span class="message_time text-end align-self-end">{{message.date.slice(11, 16)}}
                            <i v-if="message.status === 'sent'" class="fa-solid fa-check fa-fw"></i>
                            <i v-if="message.status === 'sent'" class="fa-solid fa-check fa-fw"></i>
                        </span>
                      </div>
                      <div class="dropdown icon_color" :class="{'d-none': index != messageToRemove}, {'d-flex flex-column align-items-end': index == messageToRemove}">
                        <span v-if="message.saved != true" @click="toggleFavourites(message)" class="mb-2">
                          <i class="fa-regular fa-square-plus fa-lg icon_color"></i>
                          Add to favourites
                        </span>
                        <span v-else @click="toggleFavourites(message)" class="mb-2">
                          <i class="fa-regular fa-square-minus fa-lg icon_color"></i>
                          Remove from favourites
                        </span>
                        <span @click="removeMessage(message)">
                          <i class="fa-regular fa-trash-can fa-lg icon_color"></i>
                          Delete message
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- /.message -->

                  <div v-else-if="activeContact == -1 && favouritesMessages.length > 0" class="favourite message d-flex justify-content-between align-items-center" v-for="(message, index) in favouritesMessages">
                    <h6 class="m-0">
                      {{message.status == 'received' ? `Message received from ${message.contact}` : `Messange sent to ${message.contact}`}}
                    </h6>
                    <div class="d-flex justify-content-between" :class="message.status === 'sent' ? 'sent_message' : 'received_message'">
                      <span class="text">{{message.message}}</span>
                      <div class="right_message_section d-flex flex-column justify-content-between align-self-stretch">
                        <span class="text-end">
                          <i @click.stop="messageToRemove = index" class="fa-solid fa-chevron-down fa-fw text-end"></i>
                        </span>
                        <span class="message_time text-end align-self-end">{{message.date.slice(11, 16)}}
                            <i v-if="message.status === 'sent'" class="fa-solid fa-check fa-fw"></i>
                            <i v-if="message.status === 'sent'" class="fa-solid fa-check fa-fw"></i>
                        </span>
                      </div>
                      <div class="dropdown icon_color" :class="{'d-none': index != messageToRemove}, {'d-flex flex-column align-items-end': index == messageToRemove}">
                        <span @click="toggleFavourites(message)">
                          <i class="fa-regular fa-square-minus fa-lg icon_color"></i>
                          Remove from favourites
                        </span>
                      </div>
                    </div>
                  </div>

                  <div v-else-if="activeContact == -1 && favouritesMessages.length == 0" class="no_active_contact text-center">
                    <i class="d-block fa-brands fa-whatsapp fa-4x"></i>
                    You have no favourite messages.
                    Select a contact from the list on the left to see the chat
                  </div>

                  <div v-else class="no_active_contact text-center">
                    <i class="d-block fa-brands fa-whatsapp fa-4x"></i>
                    Select a contact from the list on the left to see the chat
                  </div>
                  
                </main>
                <!-- /#right_main_content -->

                <div id="bottom_right" class="d-flex justify-content-around align-items-center px-3">
                  <i v-if="activeContact >= 0" class="fa-regular fa-face-smile icon_color fa-lg"></i>
                  <div v-if="activeContact >= 0" class="position-relative">
                    <input type="text" class="text_dark" name="newMessage" id="newMessage" placeholder="Write a new message" v-model.trim="newMessage" @keydown.enter="sendNewMessage()">
                  </div>
                  <i v-if="activeContact >= 0 && newMessage.trim() == ''" class="fa-solid fa-microphone fa-lg icon_color"></i>
                  <i v-else-if="newMessage.trim() != ''" @click="sendNewMessage()" class="fa-solid fa-paper-plane fa-lg icon_color"></i>
                </div>
                <!-- /#bottom_right -->

              </div>
              <!-- /#right_section -->

              <div id="newContactPopup" class="d-flex flex-column align-items-center py-5 text-center" :class="newContactWindow ? 'popup_w_50' : 'popup_w_0'" @click.stop="">
                <h5 class="pb-3 m-0">New contact</h5>
                <h6>Insert the name for the new contact</h6>
                <input v-model.trim="newContactName" type="text" class="border-0" @keydown.enter="addNewContact()">
                <h6 class="mt-2">Insert the URL for the contact image (leave it blank if you don't have it)</h6>
                <input v-model.trim="newContactImage" type="text" class="border-0" @keydown.enter="addNewContact()">
                <div class="buttons">
                  <button @click="addNewContact()" class="border-0 mt-3 mx-2">Add contact</button>
                  <button @click="newContactName = '';
                  newContactImage = ''" class="border-0 mt-3 mx-2">Reset</button>
                </div>
                <i class="fa-solid fa-xmark fa-lg icon_color" @click="newContactWindow = !newContactWindow, newContactName = '', newContactImage = ''"></i>
              </div>
              <!-- /#newContactPopup -->

              

        </div>
        <!-- /.container -->

      </div>
      <!-- /.container-fluid -->
      
    </div>
    <!-- /#app -->

    <!-- EXTERNAL BOOTSTRAP JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
    <!-- EXTERNAL VUE JS CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <!-- EXTERNAL PERSONAL JS -->
    <script src="./assets/js/app.js"></script>
    
  </body>
  
</html>