/* #region Common */

:root {
  --bzap_font_family: Helvetica, sans-serif;
  --bzap_bg_primary: #009688;
  --bzap_bg_neutral: #dadbd3;
  --bzap_headers_overlays: #eaeaea;
  --bzap_notification: #8edafc;
  --bzap_sent: #d5f9ba;
  --bzap_bg_message_section: #f3eeea;
  --bzap_icon: #b1b1b1;
  --bzap_icon_dark: #6b7376;
  --bzap_white: #ffffff;
  --bzap_dark: #1e1e1e;
}

body {
  height: 100vh;
  height: 100svh;
  background: linear-gradient(180deg, var(--bzap_bg_primary) 0%, var(--bzap_bg_primary) 15%, var(--bzap_bg_neutral) 15%, var(--bzap_bg_neutral) 100%);
  color: var(--bzap_dark);
}

#app {
  position: relative;
  height: 100%;
}

/* #endregion Common */

/* #region Utility */

.text_dark {
  color: var(--bzap_dark);
}

.icon_color {
  color: var(--bzap_icon);
}

.icon_color_dark {
  color: var(--bzap_icon_dark);
}

.container {
  height: 100%;
  padding: 3vh 0;
  padding: 3svh 0;
}

.content_wrapper {
  height: 100%;
}

#left_section {
  width: 30%;
  min-width: 290px;
  height: 100%;
  background-color: red;
}

#right_section {
  flex-grow: 1;
  min-width: 290px;
  height: 100%;
  border-left: 1px solid var(--bzap_icon);
}

.top_app {
  height: 70px;
  background-color: var(--bzap_headers_overlays);
}

#activate_notification {
  height: 85px;
  background-color: var(--bzap_notification);
}

.notification_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1 / 1;
  background-color: var(--bzap_white);
}

.fa-bell-slash {
  color: var(--bzap_notification);
}

#search_contact {
  height: 50px;
  background-color: var(--bzap_bg_message_section);
}

#search_contact > div {
  width: 100%;
  height: 30px;
}

#search_contact label {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid var(--bzap_icon);
  border-right: 0;
}

#search_contact input {
  min-width: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid var(--bzap_icon);
  border-left: 0;
}

#contacts_list {
  /* Heights to consider: header_left, activate_notification and search_contact */
  height: calc(100% - 200px);
  overflow-y: auto;
}

#contacts_list > li {
  height: 85px;
}

#contacts_list > li > * {
  height: 60px;
}

#contacts_list > li.active {
  background-color: var(--bzap_headers_overlays);
}

#contacts_list span {
  font-size: 0.875rem;
}

#right_main_content {
  height: calc(100% - 140px);
  background-image: url("./../img/mine.jpg");
  overflow-y: auto;
}

#right_main_content .message {
  flex-basis: 62px;
  flex-shrink: 0;
  padding: 6px 5%;
}

#right_main_content .sent_message,
#right_main_content .received_message {
  display: flex;
  align-items: center;
  width: 45%;
  min-width: min-content;
  min-height: 50px;
  padding: 0 0.25rem 0 1rem;
  border-radius: 6px;
}

#right_main_content .sent_message {
  margin-left: auto;
  background-color: var(--bzap_sent);
}

#right_main_content .received_message {
  background-color: var(--bzap_white);
}

.bottom_app {
  height: 70px;
  background-color: var(--bzap_bg_message_section);
}

#bottom_right input {
  width: 80%;
}

/* #endregion Utility */
