/* #region Common */

:root {
  --bzap_font_family: 'Roboto', sans-serif;
  --bzap_chat_bg: #efeae2;
  --bzap_bg_accent: #00a884;
  --bzap_bg_neutral: #dddedd;
  --bzap_headers_overlays: #f0f2f5;
  --bzap_list_and_messages_bg: #ffffff;
  --bzap_notification: #53bdeb;
  --bzap_bell_background: #ffffff;
  --bzap_icon: #54656f;
  --bzap_main_text: #1e1e1e;
  --bzap_secondary_text: #8696a0;
  --bzap_active_contact: #f0f2f5;
  --bzap_sent: #d9fdd3;
  --bzap_checkmarks: #70cbe6;
  --bzap_no_active_contact_bg: #00000055;
}

body {
  font-family: var(--bzap_font_family);
  height: 100vh;
  height: 100svh;
  background: linear-gradient(180deg, var(--bzap_bg_accent) 0%, var(--bzap_bg_accent) 15%, var(--bzap_bg_neutral) 15%, var(--bzap_bg_neutral) 100%);
  color: var(--bzap_main_text);
}

#app {
  position: relative;
  height: 100%;
}

#header_left i,
#activate_notification span,
#search_contact label > i,
#favourite_messages,
#contacts_list > li,
#header_right i,
#header_right ul span,
#right_main_content .message .fa-chevron-down,
#right_main_content .message .ropdown > span,
#bottom_right i,
.dropdown span,
#newContactPopup i,
#newContactPopup button {
  cursor: pointer;
}

/* #endregion Common */

/* #region Utility */

.text_dark {
  color: var(--bzap_main_text);
}

.icon_color {
  color: var(--bzap_icon);
}

.container-fluid {
  position: relative;
  height: 100%;
}

.my_container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 94vh;
  height: 94svh;
  width: 96%;
  max-width: 1320px;
  box-shadow: -2px 2px 10px -4px var(--bzap_icon);
  border-radius: 12px;
  overflow: hidden;
}

.hidden {
  display: none;
}

/* #endregion Utility */

/* #region App */

#left_section,
#right_section {
  width: 100%;
  height: 100%;
}

.left_top_section {
  height: 70px;
  background-color: var(--bzap_headers_overlays);
}

.right_top_section {
  height: 150px;
  background-color: var(--bzap_headers_overlays);
}

/* #endregion App */

/* #region Left section */

#activate_notification {
  height: 85px;
  background-color: var(--bzap_notification);
}

#activate_notification h6,
#activate_notification span {
  font-size: 0.875rem;
}

.notification_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1 / 1;
  background-color: var(--bzap_bell_background);
}

#activate_notification i {
  color: var(--bzap_notification);
}

#search_contact {
  height: 50px;
  background-color: var(--bzap_list_and_messages_bg);
}

#search_contact > div {
  height: 30px;
}

#search_contact label {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: none;
  color: var(--bzap_icon);
  background-color: var(--bzap_headers_overlays);
}

#search_contact input {
  min-width: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
  color: var(--bzap_icon);
  background-color: var(--bzap_headers_overlays);
}

#search_contact input::placeholder {
  color: var(--bzap_icon);
}

#favourite_messages {
  height: 85px;
  background-color: var(--bzap_sent);
}

#favourite_messages > .favourite_messages_icon_container {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contacts_list {
  /* Heights to consider: header_left, activate_notification, search_contact and favourites_messages*/
  height: calc(100% - 290px);
  overflow-y: auto;
  background-color: var(--bzap_list_and_messages_bg);
}

#contacts_list > li {
  height: 85px;
  overflow: hidden;
  border-bottom: 1px solid var(--bzap_active_contact);
}

#contacts_list > li > * {
  height: 60px;
}

#contacts_list > li.active {
  background-color: var(--bzap_active_contact);
}

#contacts_list .no_avatar,
#right_section .no_avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  font-size: 1.125rem;
  color: var(--bzap_list_and_messages_bg);
  background-color: var(--bzap_bg_accent);
}

#contacts_list span {
  color: var(--bzap_secondary_text);
  font-size: 0.8rem;
}

.left_contact_section span {
  word-break: break-all;
}

/* #endregion Left section */

/* #region Right section */

.no_active_contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--bzap_chat_bg);
  background-color: var(--bzap_no_active_contact_bg);
}

.no_active_contact i {
  filter: drop-shadow(-2px 2px 3px var(--bzap_chat_bg));
}

#right_main_content {
  position: relative;
  height: calc(100% - 220px);
  background: var(--bzap_chat_bg) url(./../img/chat_bg.png);
  background-blend-mode: overlay;
  overflow-y: auto;
  overflow-x: hidden;
}

#header_right .dropdown {
  min-width: max-content;
}

#right_main_content .message {
  flex-basis: 62px;
  flex-shrink: 0;
  padding: 6px 0;
}

#right_main_content .sent_message,
#right_main_content .received_message {
  display: flex;
  align-items: center;
  width: 90%;
  min-height: 50px;
  word-break: break-all;
  padding: 0 0.25rem 0 1rem;
  border-radius: 6px;
  position: relative;
  box-shadow: -2px 2px 10px -4px var(--bzap_icon);
}

#right_main_content .sent_message {
  margin-left: auto;
  background-color: var(--bzap_sent);
}

#right_main_content .received_message {
  background-color: var(--bzap_list_and_messages_bg);
}

#right_main_content .favourite h6 {
  width: 45%;
  word-break: break-all;
  font-weight: 400;
}

#right_main_content .favourite .sent_message,
#right_main_content .favourite .received_message {
  margin: 0;
}

.message .right_message_section {
  min-width: 50px;
  max-width: 50px;
  font-size: 10px;
  padding: 4px 4px 4px 0;
  word-break: keep-all;
  color: var(--bzap_secondary_text);
}

.message span:last-child .fa-check:first-child {
  margin-right: -9px;
  color: var(--bzap_checkmarks);
}

.message span:last-child .fa-check:last-child {
  clip-path: polygon(23.5% 0, 100% 0, 100% 100%, 23.5% 100%);
  color: var(--bzap_checkmarks);
}

.dropdown {
  position: absolute;
  right: 14px;
  top: 14px;
  z-index: 1;
  text-align: center;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  box-shadow: -2px 2px 10px -4px var(--bzap_icon);
  background-color: var(--bzap_list_and_messages_bg);
  font-size: 0.875rem;
}

#bottom_right {
  height: 70px;
  background-color: var(--bzap_headers_overlays);
}

#bottom_right > div {
  width: 80%;
}

#bottom_right input {
  width: 100%;
  height: 30px;
  min-width: 0;
  border-radius: 6px;
  border: none;
  color: var(--bzap_icon);
  padding: 0 40px 0 12px;
  background-color: var(--bzap_list_and_messages_bg);
}

#bottom_right input::placeholder {
  color: var(--bzap_icon);
}

#bottom_right i {
  width: 20px;
}

/* #endregion Right section */

/* #region New Contact Popup */

#newContactPopup {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(105%, -50%);
  width: 50%;
  min-width: 248px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: var(--bzap_sent);
  box-shadow: -2px 2px 10px -4px var(--bzap_icon);
  transition: transform 0.8s;
}

#newContactPopup.visible {
  transform: translate(0, -50%);
}

#newContactPopup h5 {
  text-shadow: -2px 2px 8px var(--bzap_secondary_text);
}

#newContactPopup input {
  text-align: center;
  width: 90%;
  max-width: 300px;
  border-radius: 6px;
  box-shadow: -2px 2px 3px 0 var(--bzap_secondary_text);
  background-color: var(--bzap_list_and_messages_bg);
  color: var(--bzap_main_text);
}

#newContactPopup .buttons button {
  border-radius: 6px;
  box-shadow: -2px 2px 3px 0 var(--bzap_secondary_text);
  background-color: var(--bzap_list_and_messages_bg);
  color: var(--bzap_main_text);
}

#newContactPopup i {
  position: absolute;
  top: 20px;
  right: 16px;
}

/* #endregion New Contact Popup */

/* #region Media queries */

@media screen and (min-width: 768px) {

  #left_section {
    width: 30%;
    min-width: 280px;
    overflow: hidden;
  }
  
  #right_section {
    width: unset;
    flex-grow: 1;
    min-width: 360px;
    border-left: 1px solid var(--bzap_bg_neutral);
  }

  .hidden {
    display: block;
  }

  .right_top_section {
    height: 70px;
  }

  #right_main_content {
    height: calc(100% - 140px);
  }

  #right_main_content .message {
    padding: 6px 5%;
  }
  
  #right_main_content .sent_message,
  #right_main_content .received_message {
    width: 45%;
  }

  .no_active_contact {
    padding: 2rem;
    font-size: 1.5rem;
  }
  
}

/* #endregion Media queries */
