/* #region Common */

:root {
  --bzap_font_family: Helvetica, sans-serif;
  --bzap_bg_primary: #009688;
  --bzap_bg_neutral: #dadbd3;
  --bzap_headers_overlays: #eaeaea;
  --bzap_notification: #8edafc;
  --bzap_sent: #d5f9ba;
  --bzap_bg_message_section: #f3eeea;
  --bzap_icon: #b1b1b1;
  --bzap_white: #ffffff;
  --bzap_dark: #1e1e1e;
}

body {
  height: 100vh;
  height: 100svh;
  background: linear-gradient(180deg, var(--bzap_bg_primary) 0%, var(--bzap_bg_primary) 15%, var(--bzap_bg_neutral) 15%, var(--bzap_bg_neutral) 100%);
}

#app {
  position: relative;
  height: 100%;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 94%;
}

/* #endregion Common */

/* #region Utility */

.content_wrapper {
  height: 100%;
}

.left_section {
  width: 30%;
  min-width: 200px;
  height: 100%;
  background-color: red;
}

.right_section {
  flex-grow: 1;
  height: 100%;
  background-color: blue;
}

.top_app {
  height: 70px;
  background-color: var(--bzap_headers_overlays);
}

#header_right {
  border: 1px solid var(--bzap_icon);
}

.icon_color {
  color: var(--bzap_icon);
}

/* #endregion Utility */
